﻿<h1>{{vm.title}}</h1>
<div id="list_holder">
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.items">
            <td>{{item.themeId}}</td>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
        </tr>
        </tbody>
    </table>

    <div>result for item 50: {{vm.message}} </div>
</div>