﻿/* MAIN MENU
----------------------------------------------------------*/

#main_menu {
    background-color: #006391;
    height: 34px;
}

.menu_navbar {
    background: #006391;
    background-color: #006391;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0 20px;
    position: relative;
}

.menu_navbar li {
    float: left;
    margin: 0;
    padding: 0 5px 0 5px;
    position: relative; /*--Declare X and Y axis base for sub navigation--*/
}

.menu_navbar li a {
    color: white;
    display: block;
    float: left;
    font-size: 1.1em;
    padding: 7px 5px 5px 5px;
    text-decoration: none;
}

.menu_navbar li a:hover { background: no-repeat center top; }

.menu_navbar li span.subhover {
    background-position: center bottom;
    cursor: pointer;
}

.menu_subnav {
    background: gray;
    border: 1px solid gray;
    display: none;
    float: left;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 33px;
    width: 190px;
    z-index: 1000000;
}

.menu_subnav li {
    border-bottom: 1px solid lightgray;
    clear: both;
    margin: 0;
    padding: 0;
    width: 190px;
    z-index: 1000000;
}

.menu_subnav li a {
    background: White no-repeat 10px center;
    color: black;
    float: left;
    font-size: 9pt;
    padding-left: 20px;
    width: 165px;
    z-index: 1000000;
}

.menu_subnav li a:visited { color: black; }

.menu_navbar li:hover, .menuHover { background: gray no-repeat 10px center; }

.menu_navbar li ul.subnav li a:hover { background: lightgray no-repeat 10px center; }

.menu_subnav li a:focus, .menuHover { background: gray no-repeat 10px center; }

.menu_section, .menu_icon {
    height: 34px;
    margin-right: 5px;
}